<form novalidate [formGroup]="editForm">
  <div class="heading-main">
    Edit Book
  </div>
  <table class="responstable tablepopup table-wrap" cellpadding="0" cellspacing="0">
    <tr>
      <td>
        <h3>Name <span class="colon-cls">:</span></h3>
      </td>

      <td>
        <mat-form-field>
          <input matInput type="text" class="form-control" formControlName="name" required>
        </mat-form-field>
        <div class="errmsg" *ngIf="editForm.hasError('required','name')">
          Please enter name.
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <h3>Authors <span class="colon-cls">:</span></h3>
      </td>
      <td>
        <mat-form-field>
          <input matInput type="text" class="form-control" formControlName="author" required>
        </mat-form-field>
        <div class="errmsg" *ngIf="editForm.hasError('required','author')">
          Please enter authors.
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <h3>Date of Publication <span class="colon-cls">:</span></h3>
      </td>
      <td>
        <mat-form-field>
          <input matInput [matDatepicker]="picker" formControlName="published" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <div class="errmsg" *ngIf="editForm.hasError('required','published')">
          Please enter date of publication.
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <h3>Number of Pages <span class="colon-cls">:</span></h3>
      </td>
      <td>
        <mat-form-field>
          <input matInput type="number" class="form-control" formControlName="pages" required>
        </mat-form-field>
        <div class="errmsg" *ngIf="editForm.hasError('required','pages')">
          Please enter number of pages.
        </div>
      </td>
    </tr>
  </table>
  <mat-dialog-actions>
    <div class="book-dtl-btn">
      <button mat-button [mat-dialog-close]="editForm.valid ? editForm.value : null" class="edit-btn right">Save</button>
      <button mat-button mat-dialog-close class="edit-btn">Cancel</button>
    </div>
  </mat-dialog-actions>
</form>